[submodule "cmake/socket.io-client-cpp"]
	path = cmake/socket.io-client-cpp
	url = https://github.com/socketio/socket.io-client-cpp.git
[submodule "cmake/sdl2-cmake-modules"]
	path = cmake/sdl2-cmake-modules
	url = https://github.com/aminosbh/sdl2-cmake-modules.git
